/node_modules
/public
/public/hot
/public/uploads
/public/auddition_media_upload/
/public/video
/public/storage
/bootstrap
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
